
.NavbarItems {
    background: linear-gradient(90deg,cornsilk,darkslategrey);
    height: 100px ; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1.6rem; 
    position: sticky ; 
    top: 0 ; 
    z-index: 999;
    color:
    
    
}

.navbar-logo {
    color:orange; 
    justify-self: start ;
    margin-left: 20px ;
    cursor: pointer; 
}
.fa-react {
    margin-right: 0.5rem; 
    font-size: 1.6rem;
}

.nav-menu {
    display: grid ; 
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px ; 
    list-style: none;
    text-align: center;  
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    padding: 0;
}


.menu-icon{
    color:orange;
    align-items: center;
    justify-items: center;
    margin-left: 4px;
    margin-top: 6px;
}