.home{
    display: flex ; 
    flex-direction: column;
    margin-bottom: 200px;
    background-color: #fffaf6;
}
.home1{
    display: flex;
    
}

a:link, a:visited { 
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
a:link:active, a:visited:active { 
    color: orangered;
}